main {
    padding: 0;
}

#carru {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: backgroundSlide 12s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes backgroundSlide {
    0% {
        background-image: url('https://images.unsplash.com/photo-1523480717984-24cba35ae1ef?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zm9uZG8lMjBkZSUyMHBhbnRhbGxhJTIwZGUlMjBwZXJyb3xlbnwwfHwwfHx8MA%3D%3D');
    }
    33% {
        background-image: url('https://i.pinimg.com/736x/3c/1c/ad/3c1cad99b66da4733d6ef4a82176d5ff.jpg');
    }
    66% {
        background-image: url('https://img3.wallspic.com/crops/2/4/8/8/3/138842/138842-pasear_al_perro-1366x768.jpg');
    }
    100% {
        background-image: url('https://i.pinimg.com/736x/0e/92/cc/0e92ccc673d484b06c68044268e40a9d.jpg');
    }
}